<!DOCTYPE html>
<html lang="de">


<head>
    <meta charset="UTF-8">
 	<title>Mathetrainer</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" media="screen" />
	 <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!--sorgt für eine gute Anpassung an andere Bildgrößen-->
</head>



<body>
<div id="wrap">

<div id="top"></div>

<div id="content">

<div class="header">
<h1><a href="#">Mathetrainer</a></h1>
<h2>Ab Klasse 9</h2>
</div>

<div class="breadcrumbs">
 <a href="http://localhost/Mathe/Login.php">Login</a> &middot;
 <a href="http://localhost/Mathe/Adminbereich/admineingang.php">Admin</a> &middot; Bitte klicken!
</div>

<div class="middle">

<h2>Hallo</h2>

Dieser Mathetrainer soll den Unterricht ergänzen
und weitere Übungsaufgaben zur Verfügung stellen.
Gedacht ist der Trainer für Schülerrinnen und
Schüler ab Klasse 9.

Das Programm befindet sich noch in der Testphase und
wird nach und nach verbessert und ergänzt.
Wer Lust hat an diesem Trainer mitzuprogrammieren,
Übungsaufgaben zu erstellen, Mathespiele zu entwerfen,
sollte dies unbedingt machen!!!


<br /><br />

Gruß Georg Sahliger


<br /><br /><br />


</div>



<div id="clear"></div>

</div>

<div id="bottom"></div>

</div>

<div id="footer">
Zurück zur Homepage:   <a href="http://www.sahliger.net">www.sahliger.net</a>
</div>

</body>
</html>